{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
        <meta charset= "utf-8">
        <title>Республиканский лицей интернат</title>

        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/clock.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

        <script src="{% static 'js/clock.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>

        <style type="text/css">
            * {font-family: 'Arimo', sans-serif;}
        </style>
    </head>

    <body style="">
        <header>
            <nav>
                <div class="nav-wrapper teal">
                    <a href="/" class="brand-logo">&nbsp;RLspace</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% if is_auth%}
                            <li><div class="divider"></div></li>
                            <li><a href = "get_attendance_list"> <i class="material-icons white-text">file_download</i> </a></li>
                        {% endif %}
                        <li><a href="/monitoring"> Мониторинг</a></li>
                        <!--<li><a href="/canteen"> Столовая </a></li>-->
                        <li><a href="/board"> Интернат </a></li>
                        <li><a href="/information"> Сведения </a></li>


                        <li><a href="/about"> О продукте</a></li>
                    </ul>

                    <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="material-icons white-text">menu</i>&nbsp;</a>
                </div>
            </nav>

            <ul id="slide-out" class="sidenav">
                <br>
                <li> <a class="waves-effect" href="/monitoring"><i class="material-icons teal-text">search</i>Мониторинг</a></li>
                <li> <a class="waves-effect" href="/canteen"><i class="material-icons teal-text">restaurant</i>Столовая</a></li>
                <li> <a class="waves-effect" href="/board"><i class="material-icons teal-text">home</i>Интернат</a></li>
                <li> <a class="waves-effect" href="/information"><i class="material-icons teal-text">people</i>Сведения</a></li>
                {% if is_auth%}
                    <li><a class="waves-effect" href="/get_attendance_list"> <i class="material-icons teal-text">file_download</i> Скачать таблицу посещаемости </a></li>
                {% endif %}
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="/about"> <i class="material-icons teal-text">info_outline</i>О продукте</a>
                </li>
            </ul>

        </header>
        <br>
        <main>