{% include 'main/header.html' %}

<div class = "row center">
    <div class="row">
        <div class="col s8 m4 offset-m4 offset-s2">
            <div class="card">
                <div class="card-image">
                  <img src="/media/{{profile.photo}}" style="border-radius: 10px"> 
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
                </div>
                <div class="card-content">
                    <h5 class = "center">{{profile.name}}</h5>
                    <br>
                    <div style="display: flex; justify-content: space-around;" class = "center">
                        <p> <font class="grey-text">Класс</font><br>
                            {{profile.grade}}
                        </p>

                        <p> <font class="grey-text">Пропусков</font><br>
                            {{profile.non_attendance}}
                        </p>

                        <p> <font class="grey-text">Проживание</font><br>
                            {{profile.location}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-content">
                    <h6>История проверок:</h6>
                    <br>
                    {%for event in events %}
                        <div class = "row">
                            <div class = "col s4">
                                <p><font class="right grey-text">{{event.time}}</font> </p>
                            </div>

                            <div class = "col s6 offset-s2">
                                <p><font class="left" color = "{{event.color}}">{{event.text}}</font></p>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'main/footer.html' %}