{% include 'main/header.html' %}

<div class = "row center">
    <div class="row">
        <div class="col s8 m4 offset-m4 offset-s2">
            {% if is_admin %}
                <div class="card">
                    <div class="card-content">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div style="display: flex; justify-content: space-between;">
                                <button type="submit" name="enter" class="btn-floating  waves-effect waves-light green"><i class="material-icons">check</i></button>

                                <button type="submit" name="eating" class="btn-floating  waves-effect waves-light blue"><i class="material-icons">restaurant</i></button>

                                <button type="submit" name="exit" class="btn-floating waves-effect waves-light red"><i class="material-icons">clear</i></button>

                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-image">
                    <img src="/media/{{profile.photo}}" style="border-radius: 10px">
                    <a class="btn-floating btn-medium halfway-fab waves-effect waves-light">
                        {% if profile.status == "present" %}
                            <i class="material-icons green">add</i>
                        {% else %}
                            <i class="material-icons red">close</i>
                        {% endif %}
                    </a>
                </div>

                <div class="card-content">
                    {% if profile.id == 138 %}
                            <h5 class="center purple-text">{{ profile.name }}</h5>
                        {% else %}
                            <h5 class="center black-text">{{ profile.name }}</h5>
                        {% endif %}
                    <br>
                    <div style="display: flex; justify-content: space-around;" class = "center">
                        <p> <font class="grey-text">Класс</font><br>
                            {{profile.grade}}
                        </p>

                        <p> <font class="grey-text">Пропусков</font><br>
                            {{profile.non_attendance}}
                        </p>

                        <p> <font class="grey-text">Проживание</font><br>
                            {{profile.location}}
                        </p>
                    </div>
                    <br>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h6>История проверок:</h6>
                    <br>
                    {%for event in events %}
                        <div class = "row">
                            <div class = "col s4">
                                <p><font class="right grey-text">{{event.time}}</font> </p>
                            </div>

                            <div class = "col s6 offset-s2">
                                <p><font class="left" color = "{{event.color}}">{{event.text}}</font></p>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'main/footer.html' %}